*.npy
*.npz
*.pkl
*.gz
*.log
*.out
*.err
*.jsonl
TODO.md
__pycache__/
.pytest_cache/
zernikegrams/
training_data/pretraining/
training_data/finetuning/rosetta_ddg/premade_zernikegrams/
experiments/hsiue_et_al/
experiments/luksza_et_al/
*.DS_store
*raw_df_from_esm.csv
*copy_over_esm_results.py