*.npy
*.npz
*.pkl
*.gz
*.log
*.err
TODO.md
__pycache__/
.pytest_cache/
protein_holography_web/protein_processing/reduce/
zernikegrams/
training_data/
experiments/hsiue_et_al/
experiments/luksza_et_al/
